<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href="~/css/site.css" rel="stylesheet" />
    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="~/lib/bootstrap/js/bootstrap.js"></script>
    <script src="~/js/site.js"></script>
</head>
<body>
    <div class="container">
        <div class="row"></div>
        <div class="banner"></div>
    </div>
    <div class="col-md-9">
        @RenderBody()
    </div>
</body>
</html>
